.calendar-container {
    background: #FFFFFF;
    width: 290px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    font-family: 'Urbanist', sans-serif;
}

.calendar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.calendar-navigation {
    display: flex;
}

.calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #959595;
    font-size: 1.9rem;
}

.calendar-navigation span:hover {
    background: #f1f1f1;
}

.calendar-current-date {
    font-weight: 600;
    font-size: 16px;
}

.calendar-body {
    width: 100%;
    padding: 10px;
}

.calendar-body ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.calendar-weekdays li,
.calendar-dates li {
    width: calc(100% / 7);
    padding: 8px 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-weekdays li {
    color: #959595;
    font-weight: 700;
}

.calendar-dates li {
    cursor: pointer;
    color: #333;
}

.calendar-dates li:hover {
    background-color: #f8f8f8;
}

.calendar-dates .active1 {
    background-color: #db9595;
    color: white;
    border-radius: 50%;
    /* border: #2f4eff0f; */
}

.calendar-dates .selected {
    background-color: #F8C8C84D;
}

.calendar-dates .start-date {
    background-color: #2f4eff0f;
    color: white;
    border-radius: 15px 0 0 15px;
}

.calendar-dates .end-date {
    background-color: #2f4eff0f;
    color: white;
    border-radius: 0 15px 15px 0;
}

.calendar-dates .inactive {
    color: #aaa;
}

.calendar-dates .range-date {
    background-color: #F8C8C84D;
    color: #333;
}
